<div class="container mt-4">
  <h1>Expense Summary</h1>

  {{#if task}}
    <h3>{{task.name}}</h3>
    <p>Total Expense: ${{task.total_expense}}</p>
  {{else}}
    <p class="text-warning">No expenses found for this user.</p>
  {{/if}}
</div>